.leaflet-container {
  height: 40rem;
  width: 80vh;
}

h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

p {
  margin: 0.2rem 0;
}

a {
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: var(--color-gold);
}

.directory-map-container {
  display: flex;
}

.directory-map-container .directory-list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 40rem;
  overflow-y: scroll;
}

.directory-map-container .directory-list hr {
  border: none;
  border-top: 1px solid rgb(223, 223, 223);
  margin: 1rem 0;
}

.directory-map-container .directory-list article {
  border: 1px solid rgb(196, 196, 196);
  border-bottom: 4px solid var(--color-dusty-rose);
  padding: 0.8rem 1rem;
}

.directory-map-container .directory-list article .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.directory-map-container .directory-list article h3 {
  margin: 0;
  transition: color 0.3s;
}

.directory-map-container .directory-list article .address {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 0.5rem;
}

.directory-map-container .directory-list .phone {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

/* .directory-map-container .directory-list .phone:hover svg {
  color: var(--color-gold);
} */

.hidden {
  display: none;
}

.highlight,  .directory-map-container .directory-list article:hover{
  background-color: var(--color-pearl-white) !important;
  border-color: var(--color-gold) !important;
  cursor: pointer;
}

.leaflet-popup-content{
  width: max-content !important;
  max-width: 15rem 
}

.leaflet-popup-content p{
  margin: 0.3rem 0 !important;
}

.leaflet-popup-content .name{
  font-weight: 600;
  
}